.btn_container {
    margin-bottom: 80px;
}
.btn {
    width: auto;
    padding:10px;
    float: right;
    background-color: #fff;
    margin-left: 10px;
    cursor: pointer;
}
.btn_active {
    background-color: indigo;
    color: #fff;
}

.searchBar{
    margin-left: 20px;
    font-size: 20px;
}

.searchBar input{
    margin-left: 10px;
    padding: 5px;
    margin-bottom: 50px;

}